/* General styles */
body {
  font-family: Arial, sans-serif;
  /* font-style: normal; */
  text-align: center;
  overflow: hidden;
  background: linear-gradient(to top, #f3d3b4, #d2b08e);
  background-size: cover; /* Adjust background size */
  background-repeat: no-repeat; /* Prevent background from repeating */
  background-attachment: fixed; /* Fix background position */
}
main {
  position: relative;
}
svg {
  width: 100vw;
  height: 100vh;
  margin-left: -.5em;
  margin-top: -3.1em;
  padding: 0;
}


h1,
h2,
p {
  margin: 0;
  padding: 0;
}


@keyframes signature {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

h1, h2, h3 {
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
}
h1 {
  font-size: 10em;
}
h2 {
    font-family: "Tangerine", cursive;
    font-size: 2.5em;
    margin-top: .5em;
    animation: signature 3s ease-in-out;
}
h3 {
  font-size: 3em;
}

/* Header */
header {
  text-align: center;
  margin-top: 50px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Hero section */
.hero {
  text-align: center;
}

.hero-image {
  width: 70%;
  max-width: 600px;
  animation: fade-in 1s ease-in-out; /* Add animation reference */
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Information section */
.information {
  padding: 20px;
}

p {
  line-height: 1.5;
}

