/* General styles */
body {
  text-align: center;
  overflow: hidden;
  background: linear-gradient(to top, #f3d3b4, #d2b08e);
  background-size: cover; /* Adjust background size */
  background-repeat: no-repeat; /* Prevent background from repeating */
  background-attachment: fixed; /* Fix background position */
  font-family: "Tangerine", cursive;
  margin-top: 20px;
}
svg {
  width: 100vw;
  height: 100vh;
  margin-left: -.5em;
  margin-top: -1.2em;
  padding: 0;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}


@keyframes signature {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

h1, h2, h3 {
    font-weight: 700;
    font-style: normal;
}
h1 {
  font-size: 10em;
}
h2 {
    font-size: 2.5em;
}
h3 {
  font-size: 3em;
}
#footer {
  animation: signature 6s ease-in-out;
}
#footer p{
  font-size: 1.8em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 5s linear;
}

.hero-image {
  width: 70%;
  max-width: 400px;
}

.information {
  padding: 20px;
}